.district-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;

  color: #94a3b8;
  margin-right: 5px;
}
.district-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #94a3b8;
}
.stats-data-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  width: 240px;
  padding: 0px 20px;
}
@media screen and (max-width: 767px) {
  .stats-data-list {
    width: 50%;
    padding: 0px;
  }
  .district-number {
    font-size: 12px;
  }
  .district-name {
    font-size: 12px;
  }
}
